@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Ysabeau+Office:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ysabeau, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

/* headings and logos */

h1,
h2 {
    font-family: Diphylleia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #b81111;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    
}

/* hero image and cover text */

#hero-outer {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header-text,
#header-text h2 {
    color: rgb(170, 19, 19);
}

#header-text {
    color: white;
    font-size: 150%;
    font-family: Diphylleia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 30px;
    left: 60px;
    position: absolute;
}

/* #hero-image {
    height: 200px;
    width: 100%;
    background: url('../images/aloe-hero-image.jpg') no-repeat center center; */

    /* animates zoom effect on loading page */
    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
} */


/* navigation links */

#page-links {
    font-size: 150%;
    letter-spacing: 5px;
   
}

#page-links, #logo {
    line-height: 80px;
}

#page-links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
    gap: 20px;
    margin-top: 30px;
    /* align-items: flex-end;   */
}

#page-links li {
    list-style-type: none;
}


/* why aloe vera */

#aloe-vera-benefits {
    height: 600px;
}

#why-aloe-vera {
    text-align: right;
    margin: 20px 200px;
    font-size: 150%;
}

#benefits-image {
    height: 800px;
    width: 100%;
    background: url("../images/aloe-plant-bg.jpg") no-repeat center center;
}





/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}