@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ysabeau:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ysabeau, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

a {
    text-decoration: none;
    color: inherit;
}


/* headings and logos */

header {
    border-bottom: 1px none;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 2px;
}

h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1e8449;
}

h2 {
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #2471a3;
}

.logo>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 600px;
}

#main-logo {
    font-size: 50px;
    margin-left: 30px;
    flex-grow: 1;
}

#sub-logo {
    font-size: 25px;
    margin-left: 30px;
}


/* navigation links */

#page-links {
    font-size: 120%;
    letter-spacing: 4px;
}

#page-links ul {
    display: flex;
    float: right;
    list-style-type: none;
    margin-right: 20px;
    gap: 10px;
    font-weight: bold;
    color: #2471a3;
}

#page-links a {
    text-decoration: none;
    color: inherit;
}

#page-links a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image and page image */

#hero-image {
    height: 80px;
    width: 100%;
    background: url("../images/aloe-banner.jpg") no-repeat center center;
    overflow: hidden;
    position: relative;
    border-top: 2px solid #2471a3;
    border-bottom: 2px solid #2471a3;
}

.image-container {
    display: flex;
    height: 600px;
    width: 100%;
    flex-wrap: wrap;

    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

#image-one {
    height: 568px;
    width: 50%;
    background: url("../images/aloe-plant-extract.webp") no-repeat center center;
}

#image-two {
    height: 568px;
    width: 50%;
    background: url("../images/aloe-slices-oil.jpg") no-repeat center center;
}

/* page content */

#page-content {
    height: 600px;
}

/* .benefits-content-container {
    height: 600px;
    width: 95%;
    border-style: solid;
    border-color: #2471a3;
    border-width: 1px;
    margin: 0 15px;
} */

.benefits-content-container > h2 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}

.benefits-content-container > h3 {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.benefits-content-container p {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

#left-benefits {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-benefits {
    padding-top: 30px;
    width: 33%;
    float: right;
}